---
import LandingHeader from "../components/LandingHeader.astro";
import Herosection from "../components/HeroSection.astro";
import ModelXsection from "../components/ModelXsection.astro";
const title = "my website";
import Layout from "../components/layout.astro";
---

<Layout pageTitle="Tesla Page">
	<div class="container-fluid">
		<LandingHeader />
		<main class="snap-y snap-mandatory relative h-screen w-full overflow-x-hidden">
			<div class="snap-start">
				<Herosection />
			</div>
			<div class="snap-start">
				<ModelXsection />
			</div>
			<div class="snap-start">
				<Herosection />
			</div>
		</main>
	</div>
</Layout>
