<section
    class="landing-section h-screen w-screen bg-black text-center relative overflow-hidden"
    data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-[40px] font-medium">
                Experience Tesla
            </h2>
            <p class="text-white text-sm">Schedule a Demo Drive Today</p>
        </header>
        <footer class="flex flex-col flex-grow justify-end items-center pb-16">
            <a
                class="text-white border py-2 px-20 border-cyan-50 border-[3px] rounded hover:bg-white hover:text-black border-white transition-colors bg-white/5 backdrop-blur-sm"
                href="#">Demo Drive</a
            >
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video
            class="object-center object-cover h-full w-full"
            autoplay
            muted
            loop
            src="../../public/video.webm"></video>
    </div>
</section>
