<section
    class="landing-section h-screen w-screen bg-black text-center relative overflow-hidden"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">
                Model X
            </h2>
            <p class="text-black text-sm">Plaid</p>
        </header>
        <footer class="flex flex-row flex-grow justify-center items-end gap-6 pb-16">
            <a
                class="text-black border py-2 px-20 border-cyan-50 border-[3px] rounded bg-white border-white transition-colors bg-white/5 backdrop-blur-sm hover:bg-black hover:text-white hover:border-black "
                href="#">Order Now</a
            >
            <a
                class="text-white border py-2 px-20 border-cyan-50 border-[3px] rounded hover:bg-white hover:text-black border-white transition-colors bg-white/5 backdrop-blur-sm"
                href="#">Demo Drive</a
            >
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="w-full h-full object-cover object-center" src="../../public/Model-x.avif" alt="">
    </div>
</section>
